@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
	--primary: #bc4123;
	--secondary: #2b3452;
}
*,
*::after,
*::before {
	color: #fff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding: 20px;
	font-family: "Poppins";
	background: var(--secondary);
}
p {
	margin: 20px 0;
}
button,
input {
	outline-color: transparent;
}
a {
	color: inherit;
	text-decoration: inherit;
}
.button {
	border: 2px solid var(--primary);
	padding: 8px;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}
.button.active {
	background: var(--primary);
}

/* navbar */
header nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
header nav h1 {
	text-transform: capitalize;
	font-size: 2rem;
	text-decoration: none;
	margin-right: auto;
	border-bottom: 2px solid var(--primary);
}
header nav > a {
	margin: 0 1rem;
}

/* page content */

main {
	max-width: 1300px;
	margin: 2rem auto;
}

/* help layout */

.help-section .btn-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 1rem 0;
}
.help-section .btn-group a {
	width: 8rem;
	text-align: center;
}

/* faq */

.faq {
  margin-top: 2rem;
}
.faq .accordion {
  margin: 1rem 0;
}
.faq .accordion *::selection {
  background-color: transparent;
}
.faq .accordion .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--primary);
  padding: .5rem 1rem;
  margin: 1rem 0 0;
  border-radius: 4px;
  cursor: pointer;
}
.faq .accordion .accordion-header span {
  width: 1.5rem;
  rotate: 180deg;
  transition: rotate 300ms;
}
.faq .accordion.collapse .accordion-header span {
  rotate: 0deg;
}
.faq .accordion .accordion-header span svg {
  width: 100%;
  display: block;
  fill: #fff;
}
.faq .accordion .accordion-content {
  overflow: hidden;
  height: 0;
  transition: height 300ms;
}
.faq .accordion.collapse .accordion-content {
  overflow: hidden;
  height: 100px;
}

/* contact us */

.contact form {
	max-width: 400px;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0.5rem;
	justify-content: flex-start;
}
.contact form .input-group {
	display: flex;
	gap: 1rem;
}
.contact form .input-group > input,
.contact form .input-group > button,
.contact form .input-group > textarea {
	flex-grow: 1;
	padding: 0.7rem 0.5rem;
	color: white;
	font-size: 14px;
	border: 3px solid var(--primary);
	background-color: var(--secondary);
	outline-width: 0;
	border-radius: 4px;
	transition: background 300ms, border-color 300ms;
}
.contact form .input-group > input:focus-visible,
.contact form .input-group > textarea:focus-visible {
	border-color: #fff;
}
.contact form .input-group > input::placeholder,
.contact form .input-group > textarea::placeholder {
	font-family: "Poppins";
	color: #fff8;
}
.contact form .input-group > textarea {
	height: 10rem;
}
.contact form .input-group button {
	font-family: "Poppins";
	background-color: var(--primary);
	cursor: pointer;
}
.contact form .input-group button:hover,
.contact form .input-group button:focus-visible {
	background-color: #e04f2b;
	border-color: #e04f2b;
}

.contact form .btn-group {
	display: flex;
	justify-content: center;
	gap: 3rem;
}
.contact form .btn-group a {
	width: 2rem;
}
.contact form .btn-group svg {
	fill: var(--primary);
	transition: fill 300ms;
}
.contact form .btn-group a:hover svg {
	fill: #e04f2b;
}

/* careers list */

.careers-layout .careers {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	gap: 1rem;
}
.careers-layout .careers a {
	background-color: #373f5c;
	border-radius: 4px;
	padding: 1rem;
	transition: background 300ms;
}
.careers-layout .careers a:hover {
	background-color: #323755;
}
.careers-layout .careers a p {
	margin: 1rem 0 0;
}

/* careers details */

/* breadcrumbs */
